<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Totam assumenda consectetur cupiditate deserunt illo ea modi debitis hic, vero enim temporibus atque reprehenderit animi illum distinctio, cumque commodi id porro?</p>
</body>
</html>